.background{
-fx-background-image: url("photos/backgroundimg.jpg"); 
-fx-background-size: cover;
-fx-background-color: #1d1d1d;}
.root{
    -fx-background-image: url("../images/Background.jpg");    
    -fx-background-size: cover;
}
.labelGame{
   -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-pref-height: 47.0;
    -fx-pref-width: 98.0;  
    -fx-text-fill: #010f1a
}
.labelScore{
   -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-pref-height: 51.0;
    -fx-pref-width: 112.0;  
    -fx-text-fill: whitesmoke;
}
.squareGame{
     -fx-fill: #2992a1;
     -fx-arc-height:80.0;
     -fx-arc-width:80.0;
     -fx-opacity:0.75;
      position: absolute;
     width: 100px;
     height: 100px;
     -fx-stroke: white;
     -fx-pref-height: 8064px;
    -fx-pref-width: 7848px;  
}
.logo{
   -fx-font-size: 72px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-text-fill: #66ccff;
}
.pinkbtn{
   -fx-background-color: #ff66cc;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 60px;
   -fx-pref-width: 293px;
}
.pinkbtn:hover {
  -fx-background-color: white; 
  -fx-color: white;
}
.backBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 40px;
   -fx-pref-width: 93px;
}
.onbackBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 20px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
 
}
.bleBtn{
   -fx-background-color:#66ccff ;
   -fx-background-radius: 5px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 80px;
   -fx-pref-width: 293px;  
   -fx-transition-duration: 0.4s;
   
}
.bleBtn:hover {
  -fx-background-color: white; 
  -fx-color: white;
}
.onlabel{
    -fx-font-size: 50px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
    -fx-text-fill: #ffcc66;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.list-cell {
-fx-background-color: transparent;
-fx-font-size: 20px;
-fx-font-weight: bold;
<<<<<<< HEAD
-fx-text-fill: black;
=======
-fx-text-fill: white;
>>>>>>> df36f219b6f4c368a3022fdbaa1f3e434c5899b1
}

.list-view {
    -fx-background-color: transparent;
}


.bckBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 40px;
    -fx-pref-width: 93px;
}
.exitBtn{
   -fx-background-color: #EF5350;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 30px;
    -fx-pref-width: 80px;
    -fx-text-fill: whitesmoke;
}
.img{
        -fx-border-radius: 5000px;
}
.blueBtn{
    -fx-background-color: #66ccff; /*dark blue*/
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 60px;
    -fx-pref-width: 293px;  
    -fx-transition-duration: 0.4s;
}
.blueBtn:hover {
    -fx-background-color: #ffffff; /* white */
  -fx-color: white;
  
}
.anotherScreen{
    -fx-background-color: transparent;
    -fx-font-size: 20px;
   -fx-font-weight: bold; 
}
.logo{
    -fx-font-size: 72px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
    -fx-text-fill: #66ccff;
}
.text-field {   /*for user name and password*/
	
	-fx-background-color: #0C6384;
	-fx-background-radius: 5000px;
        -fx-font-size: 24px;
        -fx-font-style:italic; 
        -fx-font-weight: bold;
        -fx-pref-height: 60px;
        -fx-pref-width: 293px; 
         -fx-text-fill:#ffffff;
         -fx-prompt-text-fill: #ffffff;
}
.text-signup {   /*for signup*/
	
	-fx-background-color: #BBC1C7;
	-fx-background-radius: 5000px;
        -fx-font-size: 24px;
        -fx-font-style:italic; 
        -fx-font-weight: bold;
        -fx-pref-height: 60px;
        -fx-pref-width: 293px; 
        -fx-text-fill: #000000;
        -fx-prompt-text-fill: #000000;
}