.background{
-fx-background-image: url("background.jpeg");    
-fx-background-size: cover;
}
<<<<<<< HEAD:Tic-tac-toe/build/classes/css/GameStyle.css
.root{
    -fx-background-image: url("../images/Background.jpg");    
    -fx-background-size: cover;
}
.labelGame{
   -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-pref-height: 47.0;
    -fx-pref-width: 98.0;  
    -fx-text-fill: #010f1a
}
.labelScore{
   -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-pref-height: 51.0;
    -fx-pref-width: 112.0;  
    -fx-text-fill: whitesmoke;
}
.squareGame{
     -fx-fill: #2992a1;
     -fx-arc-height:80.0;
     -fx-arc-width:80.0;
     -fx-opacity:0.75;
      position: absolute;
     width: 100px;
     height: 100px;
     -fx-stroke: white;
     -fx-pref-height: 8064px;
    -fx-pref-width: 7848px;  
}
.logo{
   -fx-font-size: 72px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-text-fill: #66ccff;
}
.pinkbtn{
   -fx-background-color: #ff66cc;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 60px;
   -fx-pref-width: 293px;
}
.pinkbtn:hover {
  -fx-background-color: white; 
  -fx-color: white;
}
.backBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 40px;
   -fx-pref-width: 93px;
}
=======
>>>>>>> e8a7de16ee6c957ae58355c4adff46046a90b465:Tic-Tac-Teo/src/tic/tac/teo/Styles/GameStyle.css
.bleBtn{
   -fx-background-color:#66ccff ;
   -fx-background-radius: 5px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 80px;
   -fx-pref-width: 293px;  
   -fx-transition-duration: 0.4s;
   
}
.bleBtn:hover {
  -fx-background-color: white; 
  -fx-color: white;
}
.onlabel{
    -fx-font-size: 50px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
    -fx-text-fill: white;
}
.bckBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 40px;
    -fx-pref-width: 93px;
}
.exitBtn{
   -fx-background-color: #EF5350;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 30px;
    -fx-pref-width: 80px;
       -fx-text-fill: whitesmoke;
}
.img{
        -fx-border-radius: 50%;
}
<<<<<<< HEAD:Tic-tac-toe/build/classes/css/GameStyle.css
.blueBtn{
    -fx-background-color: #66ccff; /*dark blue*/
=======
/*.pinkbtn{
    -fx-background-color: #ff66cc;
>>>>>>> e8a7de16ee6c957ae58355c4adff46046a90b465:Tic-Tac-Teo/src/tic/tac/teo/Styles/GameStyle.css
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 60px;
<<<<<<< HEAD:Tic-tac-toe/build/classes/css/GameStyle.css
    -fx-pref-width: 293px;  
    -fx-transition-duration: 0.4s;
}
.blueBtn:hover {
    -fx-background-color: #ffffff; /* white */
  -fx-color: white;
  
}
.anotherScreen{
    -fx-background-color: transparent;
    -fx-font-size: 20px;
   -fx-font-weight: bold; 
}
.logo{
    -fx-font-size: 72px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
    -fx-text-fill: #66ccff;
}
.text-field {   /*for user name and password*/
	
	-fx-background-color: #0C6384;
	-fx-background-radius: 5000px;
        -fx-font-size: 24px;
        -fx-font-style:italic; 
        -fx-font-weight: bold;
        -fx-pref-height: 60px;
        -fx-pref-width: 293px; 
         -fx-text-fill:#ffffff;
         -fx-prompt-text-fill: #ffffff;
}
.text-signup {   /*for signup*/
	
	-fx-background-color: #BBC1C7;
	-fx-background-radius: 5000px;
        -fx-font-size: 24px;
        -fx-font-style:italic; 
        -fx-font-weight: bold;
        -fx-pref-height: 60px;
        -fx-pref-width: 293px; 
        -fx-text-fill: #000000;
        -fx-prompt-text-fill: #000000;
}
=======
    -fx-pref-width: 293px;
}*/
>>>>>>> e8a7de16ee6c957ae58355c4adff46046a90b465:Tic-Tac-Teo/src/tic/tac/teo/Styles/GameStyle.css
