.background{
-fx-background-image: url("background.jpeg");    
-fx-background-size: cover;
}
.bleBtn{
   -fx-background-color: white;
   -fx-background-radius: 5px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 80px;
   -fx-pref-width: 293px;  
   -fx-transition-duration: 0.4s;
   
}
.bleBtn:hover {
  -fx-background-color: #66ccff; 
  -fx-color: white;
}
.onlabel{
    -fx-font-size: 50px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
    -fx-text-fill: white;
}

.bckBtn{
   -fx-background-color: #ffcc66;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 40px;
    -fx-pref-width: 93px;
}
.img{
        -fx-border-radius: 50%;
}
/*.pinkbtn{
    -fx-background-color: #ff66cc;
   -fx-background-radius: 5000px;
   -fx-font-size: 24px;
   -fx-font-style:italic; 
   -fx-font-weight: bold;
   -fx-pref-height: 60px;
    -fx-pref-width: 293px;
}*/